<div class="container">
    <div class="page-header">
        <h1><translate>Salaries database prototype app</translate></h1>
    </div>

    <h2><translate>Available actions</translate></h2>

    <ol>
        <li>
            <p>
                <translate>Salaries average</translate>
                <a href="/survey" class="btn btn-sm btn-special">{{ 'Go' | translate }}</a>
            </p>
        </li>
        <li>
            <p>
                <translate>Surveys salary averages chart</translate>
                <a href="/surveys-average" class="btn btn-sm btn-special">{{ 'Go' | translate }}</a>
            </p>
        </li>
    </ol>
</div>